{% extends 'back/base_back_user.html' %}

{% block content %}
  <!-- Begin Page Content -->
  <div class="container-fluid">

    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h1 class="h3 mb-0 text-gray-800">Welcome Scott</h1>
      <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
          class="fas fa-download fa-sm text-white-50"></i> Refresh Page</a>
    </div>

    <!-- Content Row -->
    <div class="row">
      {% for game in games %}
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
          <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
              <div class="row no-gutters align-items-center">
                <div class="col mr-2">
                  <div class="h5 mb-0 font-weight-bold text-gray-800">{{ game.title }}</div>
                  <br>
                  <a href="#" class="btn btn-light btn-icon-split">
                          <span class="icon text-gray-600">
                            <i class="fas fa-arrow-right"></i>
                          </span>
                    <span class="text">Download</span>
                  </a>
                </div>
                <div class="col-auto">
                  <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}

  <!-- /.container-fluid -->
{% endblock %}

{% block js %}
  {{ super() }}
  <!-- Page level plugins -->
  <script src="/static/back/vendor/chart.js/Chart.min.js"></script>
  <!-- Page level custom scripts -->
  <script src="/static/back/js/demo/chart-area-demo.js"></script>
  <script src="/static/back/js/demo/chart-pie-demo.js"></script>
{% endblock %}
